
.App-content {
  display: grid;
  min-height: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 250px 400px 1fr 100px;

  grid-template-areas:
  "h h h h"
  "i i i i"
  "p p p a"
  "f f f f";
}

.header {
  grid-area: h;
  padding: 10px;
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title-image {
  grid-area: i;
  background-color: #d3d3d3;
}

.about-column-right {
  grid-area: a;
  padding: 10px;
  background-color: orange;
  min-height: 100vh;
}

.main-blog-container {
  grid-area: p;
  padding: 10px;
  background-color: gray;
}

footer {
  grid-area: f;
  padding: 10px;
  background-color: black;
}
