/* import fonts from google fonts  */
@import url('https://fonts.googleapis.com/css?family=Averia+Serif+Libre|Roboto+Slab');

  .App-content {
    display: grid;
    min-height: 100%;
    max-width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 200px 1fr 1fr 100px;
    font-family: 'Roboto Slab', serif;

    grid-template-areas:
    "h h h h"
    "a a a a"
    "b b b b"
    "f f f f";
  }

  .header {
    grid-area: h;
    white-space: pre-wrap;
    padding: 5vh;
    background-color: gray;
    line-height: 40px;
    /* display: flex; */
    align-items: center;
    /* justify-content: center; */
    justify-content: space-around;
    font-size: 20px;
    font-weight: 100;
    /* font-size: calc(20px + 3vmin); */
    font-family: 'Averia Serif Libre', cursive;
    /* letter-spacing: 8px; */
    color: black;
  }

  .about-column-right {
    grid-area: a;
    padding: 5vh;
    background-color: orange;
    min-height: 50vh;
  }

  .main-blog-container {
    grid-area: b;
    padding: 5vh;
    background-color: gray;
  }

  footer {
    padding: 5vh;

    grid-area: f;
    padding: 10px;
    background-color: black;
  }

  .blog-title {
    font-family: 'Averia Serif Libre', cursive;
    font-size: 20px;
  }

  .about-me-text {
    white-space:normal;
    font-size: calc(3px + 2vmin);
    letter-spacing: 0;
  }


@media only screen and (min-width: 1024px) {

  .App-content {
    grid-template-rows: 200px 400px 1fr 100px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
    "h h h h"
    "i i i a"
    "b b b a"
    "f f f f";
  }

  /* .header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  } */

  .title-image {
    grid-area: i;
    background-color: #d3d3d3;
  }

  .about-me-text {
    font-size: calc(1px + 2vmin);
  }

}
