.posts {
  display: grid;
  /* min-height: 100%; */
  max-width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 5% 20% 1fr 5% 20% 1fr;
  font-family: 'Roboto Slab', serif;
  overflow: scroll;
  margin: 0;

  grid-template-areas:
  "t1"
  "i1"
  "p1"
  "t2"
  "i2"
  "p2";
}

.post-title-first {
  grid-area: t1;
}

.post-image-first {
  grid-area: i1;
}

.post-text-first {
  grid-area: p1;
}

.post-title-second {
  grid-area: t2;
}

.post-image-second {
  grid-area: i2;
}

.post-text-second {
  grid-area: p2;
}

img {
  height: auto;
  width: 100%;
}


.post-title-first, .post-title-second {
  padding: 2% 0% 5% 2%;
  background-color: beige;
  margin: 0;
}

.post-text-first, .post-text-second {
  background-color: white;
  /* margin-top: 20%; */
  margin: 20% 0% 5% 0%;
  padding: 1.5% 0% 0% 1%;
  /* margin: 0; */
  white-space:normal;
  font-size: calc(3px + 2vmin);
  letter-spacing: 0;
  /* margin-bottom: 4%; */
}
