.posts {
  display: grid;
  /* min-height: 100%; */
  max-width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 1fr 1fr;
  font-family: 'Roboto Slab', serif;

  grid-template-areas:
  "t t t t"
  "i i i i"
  "p p p p";
}

.post-title {
  grid-area: t;
  background-color: beige;
  margin: 0;
}

.post-image {
  grid-area: i;
  margin: 0;
}

.post-text {
  grid-area: p;
  background-color: white;
  margin: 0;
  white-space:normal;
  font-size: calc(3px + 2vmin);
  letter-spacing: 0;
}
