/* import fonts from google fonts  */
@import url('https://fonts.googleapis.com/css?family=Averia+Libre|Source+Serif+Pro');


body {
  margin: 0;
  padding: 0;
  font-family: 'Source Serif Pro', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
